[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
graphene-django = ">=3"
pylint-django = "*"
psycopg2 = "*"
django-cors-headers = "*"
social-auth-app-django = "*"
django-graphql-jwt = "*"

[dev-packages]

[requires]
python_version = "3.10.9"
